<div class="user-container"></div>
<div class="title">
	SIGN-UP CONFIRMED
</div>
<div class="description-separator"></div>
<div class="content-container reset-content">
	<div class="description-box big-font">
		Thank you for choosing Kinetics.
	</div>
	<div class="description-box">
		You will be automatically redirected<br>
		to account page in <span class="id-remained-seconds">5</span> second<span
			class="id-remained-seconds-ends">s</span>.<br>
		Or click <a class="id-button-to-account">link</a> if your browser don't support redirect.
	</div>
</div>