<div class="user-container"></div>

<div class="content-container info-page">

    <h1>END USER LICENSE AGREEMENT</h1>

    <p>Thank you for your interest in this application for your mobile device (the "<b>App</b>") provided to you by
        Kinetics Foundation (the "<b>Foundation</b>"), which enables you to use certain features of the Foundation's
        online service (the "<b>Service</b>") from your mobile device. This End User License Agreement ("<b>EULA</b>"),
        together with the Foundation <a href="https://opdm.kineticsfoundation.org/kineticsweb/#info/terms-of-service">Terms
            of Service</a> and related policies (the "<b>Terms</b>") (available at <a
                href="https://opdm.kineticsfoundation.org/kineticsweb/#info/terms-of-service">https://opdm.kineticsfoundation.org/kineticsweb/#info/terms-of-service</a>),
        which Terms are hereby incorporated by reference into this EULA, govern your use of the App and the Service. In
        the event of any conflict between the terms of this EULA and the Terms, the terms and conditions set forth in
        the Terms shall control. <b>You may request a copy of this EULA by emailing us at <a
                href="mailto:info@kineticsfoundation.org">info@kineticsfoundation.org</a></b>.</p>

    <p><b>BY DOWNLOADING, INSTALLING, OR OTHERWISE ACCESSING OR USING THE APP, YOU AGREE THAT YOU HAVE READ, UNDERSTOOD,
        AND AGREE TO BE BOUND BY THE EULA. IF YOU DO NOT AGREE, YOU MAY NOT USE THE APP</b>.</p>

    <p><b>You acknowledge and agree that, as provided in greater detail in this EULA:</b></p>

    <ul>
        <li>the App is licensed, not sold to you, and that you may use the Service only as set forth in this EULA;</li>
        <li>you consent to the collection and use of your personally identifiable information and information about your
            location in accordance with the Foundation's <a
                    href="https://opdm.kineticsfoundation.org/kineticsweb/#info/privacy-policy">Privacy Policy</a>,
            including without limitation the collection of location information;
        </li>
        <li>the App, and the content and features made available on the App, are provided for your informational
            purposes only and does not constitute medical advice;
        </li>
        <li>the Service is provided "as is" without warranties of any kind and Foundation's liability to you is
            limited;
        </li>
        <li>disputes arising hereunder will be resolved by binding arbitration as set forth in the Term, and <b>BY
            ACCEPTING THIS EULA, AS PROVIDED IN GREATER DETAIL IN SECTION 12 BELOW, YOU AND FOUNDATION ARE EACH WAIVING
            THE RIGHT TO A TRIAL BY JURY OR TO PARTICIPATE IN A CLASS ACTION</b>. You agree to give up your right to go
            to court to assert or defend your rights under this contract (except for matters that may be taken to small
            claims court). Your rights will be determined by a NEUTRAL ARBITRATOR and NOT a judge or jury and your
            claims cannot be brought as a class action. Please review the arbitration agreement in Section 12 below for
            the details regarding your agreement to arbitrate any disputes with Foundation;
        </li>
        <li>the App may require access to the following services on your mobile device: an applicable device identifier,
            phone state and identity, internet, mobile messaging, and location, in each case, using the applicable
            permissions provided by the mobile operating system or by you; and
        </li>
        <li>if you are using the App on an iOS-based device, you agree to and acknowledge the "Notice Regarding Apple",
            below.
        </li>
    </ul>

    <ol>
        <li><b>LIMITED LICENSE</b>. Subject to your complete and ongoing compliance with all the terms and conditions
            set forth in this EULA (including without limitation compliance with all license restrictions), the
            Foundation grants you (a) a limited, non-exclusive, non-transferable, non-sublicensable, revocable license
            to use one copy of the App downloaded directly from the Foundation or from a legitimate marketplace (such as
            Apple's iTunes store), solely in object code format, for your use for lawful, non-commercial purposes on a
            compatible mobile device that you own or control, and (b) permission to access and use the Service, solely
            through the use of a licensed copy of the App.
        </li>
        <li><b>RESTRICTIONS</b>. Except as expressly permitted in this EULA, you may not reproduce, distribute, modify,
            publicly display, or publicly perform the App or any part of the Service. Except if, and solely to the
            extent that, such a restriction is impermissible under applicable law, you may not (a) decompile, reverse
            engineer, or otherwise access or attempt to access the source code for the App, or make or attempt to make
            any modification to the App; or (b) interfere with or circumvent any feature of the App, including without
            limitation any security or access control mechanism. You may not use the App or the Service for any purpose
            other than a purpose for which the App and the Service are expressly designed. The term App, as used herein,
            includes any update or modification to the App made available to you by Foundation (unless provided with
            separate terms). If you are prohibited under applicable law from using the App or the Service, you may not
            use them.
        </li>
        <li><b>NO MEDICAL ADVICE</b>. THE CONTENT, MATERIALS AND FEATURES APPEARING ON THE APP AND THROUGH SERVICE,
            INCLUDING ANY TESTS PERFORMED USING THE APP AND ANY RESULTS AND ANALYSES THEREOF, ARE PROVIDED TO YOU FOR
            INFORMATIONAL PURPOSES ONLY AND DO NOT CONSTITUTE MEDICAL ADVICE. The Foundation is not a licensed medical
            care provider and has no expertise in diagnosing, examining, or treating medical conditions of any kind.
            Never disregard professional medical advice or delay in seeking it because of something you have read, or
            any results provided, on the App or through the Service.
        </li>
        <li><b>USE OF THE APP AND THE SERVICE – THIRD PARTY TERMS AND FEES</b>. You are solely responsible for your use
            of the Service on your mobile device, including without limitation compliance with these and any applicable
            third party terms, and payment of any applicable third party fees. Without limiting the foregoing, you are
            solely responsible for the payment of all applicable fees associated with your mobile network operator's
            (the "<b>Carrier</b>") service plan you use in connection with your use of the App and the Service (such as
            voice, data, SMS, MMS, roaming, other applicable fees charged by the Carrier). Accordingly, you should use
            care in selecting a service plan offered by your Carrier.
        </li>
        <li><b>RESERVATION OF RIGHTS</b>. The Service, including the App, is owned and operated by the Foundation. The
            App, content, visual interfaces, interactive features, information, graphics, design, compilation, computer
            code, products, services, and all other elements of the Service (the "<b>Foundation Materials</b>"), are
            protected by copyright, trade dress, patent, and trademark laws of the United States and other
            jurisdictions, international conventions, and all other relevant intellectual property and proprietary
            rights, and applicable laws. As between you and the Foundation, all Foundation Materials, including
            intellectual property rights therein and thereto, are the sole and exclusive property of the Foundation or
            its subsidiaries or affiliated companies and/or its third-party licensors. You may not to sell, license,
            distribute, copy, modify, publicly perform or display, transmit, publish, edit, adapt, create derivative
            works from, or make any use of the Foundation Materials except as expressly authorized hereunder. The
            Foundation reserves all rights not expressly granted in this EULA. You shall not acquire any right, title or
            interest to the Foundation Materials, whether by implication, estoppel, or otherwise, except for the limited
            rights set forth in the EULA.
        </li>
        <li><b>USER POSTINGS</b>. As further set forth in the Terms, the App and Services may allow you to submit User
            Postings (as defined in the <a
                    href="https://opdm.kineticsfoundation.org/kineticsweb/#info/terms-of-service">Terms</a> ) and you
            acknowledge and agree to grant license rights to the Foundation and others users of the Service with respect
            to your User Postings, in accordance with the terms and conditions set forth in the <a
                    href="https://opdm.kineticsfoundation.org/kineticsweb/#info/terms-of-service">Terms</a> .
        </li>
        <li><b>TERM AND TERMINATION</b>. This EULA will remain in effect until terminated. The EULA, and your rights and
            licenses hereunder, will terminate immediately upon your breach of the EULA. You may terminate the EULA by
            uninstalling the App and ceasing all use of the Service. Foundation may terminate the Service and/or this
            EULA at any time for any reason, including without limitation any actual or suspected misuse or abuse by you
            of the App or the Service. Sections 2, 3, 4, 5, 6, 9, 10, 11, 12, and 13 shall survive any termination of
            this EULA.
        </li>
        <li><b>MODIFICATIONS</b>. The Foundation reserves the right, in its sole discretion, to change, modify, add, or
            remove portions of the App, or to change, modify, add, or remove portions of this EULA at any time by making
            such modified EULA available to you through the App. The EULA will be identified as of the most recent date
            of revision and will be effective immediately upon being made available through the App, except as follows:
            a) in the event any such modification materially alters your rights hereunder, we will attempt to notify you
            directly through a message sent to the email address you have provided to Foundation, if any, or through a
            pop-up window or other notification when you access or use the App or the Service, b) such materially
            modified EULA will be effective upon the earlier of your use of the Service with actual knowledge of the
            changes or thirty days after the changes are made available to you, and c) no modifications to this EULA
            will apply to any dispute between you and the Foundation that arose prior to the date of such modification.
            Your use of the Service after modifications to the EULA become effective constitutes your binding acceptance
            of such changes. If you are dissatisfied with the terms of the EULA or any modifications thereof, then you
            agree that your sole and exclusive remedy is to discontinue any use of the Service.
        </li>
        <li><b>WARRANTY DISCLAIMER AND LIMITATION OF LIABILITY</b>. THE APP AND THE SERVICE ARE PROVIDED ON AN "AS IS"
            BASIS, WITHOUT WARRANTY OF ANY KIND. TO THE MAXIMUM EXTENT PERMITTED BY APPLICABLE LAW, THE FOUNDATION
            DISCLAIMS ALL WARRANTIES, EXPRESS, IMPLIED, STATUTORY OR OTHERWISE, INCLUDING BUT NOT LIMITED TO IMPLIED
            WARRANTIES OF FITNESS FOR A PARTICULAR PURPOSE, MERCHANTABILITY, TITLE, QUALITY, AND NONINFRINGEMENT. THE
            FOUNDATION EXPRESSLY DISCLAIMS ANY WARRANTIES OF ANY KIND WITH RESPECT TO THE ACCURACY OR FUNCTIONALITY OF
            LOCATION BASED SERVICES, AND WITH RESPCT TO THE ACCURACY, VALIDITY, OR COMPLETENESS OF ANY INFORMATION OR
            FEATURES AVAILABLE THROUGH THE APP, OR THE QUALITY OR CONSISTENCY OF THE SERVICE. THE FOUNDATION FURTHER
            DISCLAIMS ANY WARRANTY OR LIABILITY RELATED TO YOUR CARRIER'S NETWORK OR SERVICE. UNDER NO CIRCUMSTANCES
            WILL FOUNDATION BE LIABLE FOR ANY CONSEQUENTIAL, SPECIAL, INDIRECT, INCIDENTAL OR PUNITIVE DAMAGES
            WHATSOEVER ARISING OUT OF THE USE OR INABILITY TO USE THE APP OR THE SERVICE, EVEN IF THE FOUNDATION HAS
            BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES, AND NOTWITHSTANDING ANY FAILURE OF ESSENTIAL PURPOSE OF ANY
            LIMITED REMEDY. IN NO EVENT WILL THE FOUNDATION'S AGGREGATE LIABILITY FOR DAMAGES ARISING OUT OF THIS EULA
            EXCEED THE GREATER OF AMOUNTS PAID BY YOU FOR THE APP OR ONE HUNDRED DOLLARS ($100 USD). SOME JURISDICTIONS
            DO NOT ALLOW LIMITATIONS ON IMPLIED WARRANTIES OR THE EXCLUSION OR LIMITATION OF LIABILITY FOR CONSEQUENTIAL
            OR INCIDENTAL DAMAGES, SO THE ABOVE LIMITATIONS MAY NOT APPLY TO YOU. IN SUCH AN EVENT THE ABOVE LIMITATIONS
            WILL BE ENFORCED TO THE MAXIMUM EXTENT PERMITTED UNDER APPLICABLE LAW.
        </li>
        <li><b>INDEMNITY</b>. You agree to indemnify, defend and hold the Foundation and its affiliates, officers,
            directors, suppliers, licensors, and other customers harmless from and against any and all liability and
            costs, including reasonable attorneys' fees incurred by such parties, in connection with or arising out of
            your use or misuse of the App and the Service, and your violation of this EULA, any applicable law or
            regulation, or the rights of any third parties related to the use of the Service.
        </li>
        <li><b>THIRD PARTY SOFTWARE</b>. The App may be distributed alongside certain third party software ("<b>Third
            Party Software</b>") provided under separate license terms (the "<b>Third Party Terms</b>"), as set forth in
            more detail via the App's Help menu. Your use of such Third Party Software in conjunction with the App in a
            manner consistent with the terms of this EULA is permitted; however, you may have broader rights under the
            applicable Third Party Terms and nothing in this EULA is intended to impose further restrictions on your use
            of the Third Party Software.
        </li>
        <li><b>GOVERNING LAW; VENUE; ARBITRATION</b>. This EULA, whether interpreted in a court of law or in
            arbitration, shall be governed by the laws of the State of California without regard to conflict of law
            principles. To the extent that any lawsuit or court proceeding is permitted hereunder, you and the
            Foundation agree to submit to the personal and exclusive jurisdiction of the state courts and Federal courts
            located within Santa Clara County, California for the purpose of litigating all such disputes. <b>AS FURTHER
                DETAILED IN THE <a
                        href="https://opdm.kineticsfoundation.org/kineticsweb/#info/terms-of-service">TERMS</a>, YOU
                AGREE THAT ALL DISPUTES BROUGHT UNDER THIS EULA SHALL BE RESOLVED BY BINDING ARBITRATION. YOU
                ACKNOWLEDGE AND AGREE THAT YOU ARE GIVING UP YOUR RIGHT TO GO TO COURT TO ASSERT OR DEFEND YOUR RIGHTS
                UNDER THIS CONTRACT (EXCEPT FOR MATTERS THAT MAY BE TAKEN TO SMALL CLAIMS COURT). YOUR RIGHTS WILL BE
                DETERMINED BY A NEUTRAL ARBITRATOR AND NOT A JUDGE OR JURY AND YOUR CLAIMS CANNOT BE BROUGHT AS A CLASS
                ACTION</b>. The Section titled "Governing Law; Dispute Resolution and Arbitration" in the <a
                    href="https://opdm.kineticsfoundation.org/kineticsweb/#info/terms-of-service">Terms</a> sets forth
            the further details of the dispute resolution and arbitration procedures under this EULA.
        </li>
        <li><b>MISCELLANEOUS</b>. This EULA and the Terms are the entire agreement between you and the Foundation, and
            supersede any and all prior agreements, negotiations, or other communications between you and Foundation,
            whether oral or written, with respect to the subject matter hereof, and, except as expressly provided
            herein, cannot be modified except in writing signed by both parties. You may not export or re-export the App
            without (a) the prior written consent of the Foundation; and (b) complying with applicable export control
            laws and obtaining any necessary permits and licenses. In the event that any provision of this EULA is held
            to be invalid or unenforceable, then: (y) such provision shall be deemed reformed to the extent strictly
            necessary to render such provision valid and enforceable, or if not capable of such reformation shall be
            deemed severed from this EULA; and (z) the validity and enforceability of all of the other provisions hereof
            shall in no way be affected or impaired thereby. You may not assign this EULA, whether expressly or by
            operation of law, without the prior written consent of the Foundation, including in connection with a merger
            or change of control, and any such attempted assignment shall be void and of no effect. The Foundation may
            assign this EULA without restriction and without any notice to you or consent from you. Subject to the
            foregoing, this EULA shall be binding on the parties and their respective successors and permitted assigns.
            The failure to exercise, or delay in exercising, a right, power or remedy provided in this EULA or by law
            shall not constitute a waiver of that right, power or remedy. The Foundation's waiver of any obligation or
            breach of this EULA shall not operate as a waiver of any other obligation or subsequent breach of the EULA.
        </li>
        <li><b>NOTICE REGARDING APPLE</b>. You acknowledge that this EULA is between you and the Foundation only, not
            with Apple, and Apple is not responsible for the Service and the content thereof. Apple has no obligation
            whatsoever to furnish any maintenance and support services with respect to the Service. In the event of any
            failure of the App to conform to any applicable warranty, then you may notify Apple and Apple will refund
            any applicable purchase price for the App to you; and, to the maximum extent permitted by applicable law,
            Apple has no other warranty obligation whatsoever with respect to the Service. Apple is not responsible for
            addressing any claims by you or any third party relating to the Service or your possession and/or use of the
            Service, including, but not limited to: (i) product liability claims; (ii) any claim that the Service fails
            to conform to any applicable legal or regulatory requirement; and (iii) claims arising under consumer
            protection or similar legislation. Apple is not responsible for the investigation, defense, settlement and
            discharge of any third party claim that the Service and/or your possession and use of the App infringe that
            third party's intellectual property rights. You agree to comply with any applicable third party terms, when
            using the Service. Apple, and Apple's subsidiaries, are third party beneficiaries of this EULA, and upon
            your acceptance of this EULA, Apple will have the right (and will be deemed to have accepted the right) to
            enforce this EULA against you as a third party beneficiary of this EULA. You hereby represent and warrant
            that (i) you are not located in a country that is subject to a U.S. Government embargo, or that has been
            designated by the U.S. Government as a "terrorist supporting" country; and (ii) you are not listed on any
            U.S. Government list of prohibited or restricted parties.
        </li>
        <li><b>CONTACTING FOUNDATION</b>. The App and the Service are offered by Kinetics Foundation, P.O. Box 645, Los
            Altos, CA 94023; <a href="mailto:support@kineticsfoundation.org">support@kineticsfoundation.org</a>.
        </li>
    </ol>

</div>