<div class="logo id-logo"></div>
<div class="menu-button button-back id-back-to-test-room">
	<div class="button-text">BACK TO TEST ROOM</div>
</div>
<div class="menu-button button-back id-back-to-welcome">
	<div class="button-text">BACK TO HOME</div>
</div>
<div class="menu-button sign-out id-sign-out">
	<div class="button button-sign-out">
		<div class="button-text">SIGN OUT</div>
	</div>
</div>
<div class="menu-button head-button id-profile">
	<div class="button-text">PROFILE</div>
</div>
<div class="menu-button head-button id-export">
	<div class="button-text">Extra</div>
</div>
<div class="menu-button head-button id-trend-report">
	<div class="button-text">TREND REPORT</div>
</div>
<div class="menu-button head-button id-test-room">
	<div class="button-text">TEST ROOM</div>
</div>
<div class="menu-button head-button id-analyst-room">
	<div class="button-text">Analyst ROOM</div>
</div>
<div class="menu-button head-button id-custom-fields">
	<div class="button-text">Custom Fields</div>
</div>
<div class="menu-button head-button id-users">
	<div class="button-text">Users</div>
</div>
<div class="menu-button head-button id-projects">
	<div class="button-text"><%= Constants.customLabel('Projects') %></div>
</div>
