<div class="landing-wrapper">
	<div class="landing-presentation">
		<div class="logo">


		</div>


		<div class="side">
			<p>All data can be saved for later viewing, and viewed graphically over time.</p>

			<p class="highlight">Take control of measuring your Parkinson's or other Movement Disorder symptoms today!</p>

			<button class="button id-sign-up">Register and Test</button>

			<div class="sep"></div>

			<button class="button id-sign-in">Click here to login</button>

			<div class="sep"></div>


			<a href="https://itunes.apple.com/us/app/opdm-mobility/id642954620?mt=8" class="appStore">App Store</a>
			<a href="#" class="googlePlay">Google Play</a>

		</div>


		<h1>Objective Measurement<br>of Movement Disorders</h1>

		<div class="main">
			<p>The Movement Disorder Objective Measurement System 2.0 features easy-to-use tests that enable you to measure
				your
				performance and store your results online. It's free and can be used anywhere you can use an iPhone or
				iPad. </p>

			<div class="dexterity">
				<h2>Dexterity System</h2>

				<p>From any web enabled device you can take a simple test to see how fast you can press keys on a
					keyboard</p>
				<img src="images/dexterity-presentation.png">
			</div>

			<div class="mobility">
				<h2>Mobility System</h2>

				<p>Self-administer a Timed-Up-and-Go (TUG) test or a Postural-Stability-and-Sway test on any smartphone.</p>
				<img src="images/mobility-presentation.png">
			</div>


		</div>


		<div class="footer">
			<p>The MDOMS 2.0 is a free service provided for by philanthropic funds. We’re not ad based, and we won't sell
				your data or e-mail address.<br>
				For support or more information you can visit us at <a href="http://www.kineticsfoundation.org">www.kineticsfoundation.org</a>
			</p>

			<p>Clinicians: be sure to inquire about our free trial management interface by contacting us at <a href="mailto:info@kineticsfoundation.org">info@kineticsfoundation.org</a>.
				<!--(<a href="#">how do you want them to inquire or contact?</a>)--></p>
		</div>
	</div>
</div>