<%
var birthday = moment(model.get("birthday"));
%>
<div class="user-container"></div>
<div class="description-separator"></div>
<div class="content-container profile">
	<div class="registration">
		<div class="sign-row">
			<div class="sign-row-label">
				E-mail:
			</div>
			<div class="sign-row-input">
				<input type="text" id="email" class="id-email" value="<%= model.get('email') %>">
				<button class="button button-resend id-resend">Send invitation email</button>
			</div>
		</div>
		<div class="sign-row">
			<div class="sign-row-error id-error-email">
			</div>
		</div>
		<div class="sign-row">
			<div class="sign-row-label">
				<%= Constants.customLabel('First Name') %>:
			</div>
			<div class="sign-row-input">
				<input id="first-name" type="text" value="<%= model.get('firstName') %>" size="24"
					class="id-first-name">
			</div>
			<span class="sign-row-error id-error-first-name"></span>
		</div>
		<div class="sign-row">
			<div class="sign-row-label">
				<%= Constants.customLabel('Last Name') %>:
			</div>
			<div class="sign-row-input">
				<input id="last-name" type="text" value="<%= model.get('secondName') %>" size="24"
					class="id-second-name">
			</div>
			<span class="sign-row-error id-error-second-name"></span>
		</div>
		<div class="sign-row">
			<div class="sign-row-label">
				Gender
			</div>
			<div class="sign-row-input">
				<label><input type="radio" name="gender" value="<%= Constants.Gender.Male %>"
					class="id-gender-male">Male</label>
				<label><input type="radio" name="gender" value="<%= Constants.Gender.Female %>"
					class="id-gender-female">Female</label>
			</div>
			<span class="sign-row-error id-error-gender"></span>
		</div>
		<div class="sign-row">
			<div class="sign-row-label">
				Birthday
			</div>
			<div class="sign-row-input">
				<input id="birthday" type="text" maxlength="10" size="10" class="id-birthday" placeholder="MM/DD/YYYY"
					value="<%= model.get('birthdayFormatted') %>">
			</div>
			<span class="sign-row-error id-error-birthday"></span>
		</div>
		<div class="sign-row">
			<div class="sign-row-label">
				Age
			</div>
			<div class="sign-row-input">
				<%= birthday ? moment().diff(birthday, 'year') : "n/a" %>
			</div>
		</div>

		<div class="sign-row">
			<div class="sign-row-label">
				Assigned <%= Constants.customLabel('Projects') %>
			</div>
			<%
			var projectsList = model.get("project") || [],
				userProjects = [];
			for (var key in projectsList){
				if (projectsList[key].status == Constants.ProjectStatus.Active){
					userProjects.push(projectsList[key].name);
				}
			}

			var shownProjects = userProjects.length ? userProjects.slice(0,3).join(', ') : 'No assigned ' + Constants.customLabel('projects')
			%>

			<div class="sign-row-input" title="<%= userProjects.join(', ') %>">
				<%= shownProjects + (userProjects.length > 3 ? '...' : '') %>
			</div>

		</div>


		<div class="sign-row">
			<div class="sign-row-success id-save-status">
				Status message.
			</div>
		</div>
		<% if (model.get("status") === Constants.UserStatus.Waiting) { %>
		<div class="btn-sign-box box-sign-in profile">
			<button class="button button-sign-out btn-sign-in id-save">CHANGE</button>
		</div>
		<% } %>
	</div>
</div>
