<div class="title">
	SET UP NEW PASSWORD
</div>
<div class="description-box big-font">
	Enter your new password below
</div>
<div class="content-container reset-content">
	<div class="sign-row">
		<div class="sign-row-label">
			<label for="password">Password:</label>
		</div>
		<div class="sign-row-input">
			<input id="password" type="password" size="24">
		</div>
	</div>
	<div class="sign-row">
		<div class="sign-row-label">
			<label for="re_password">Confirm password:</label>
		</div>
		<div class="sign-row-input">
			<input id="re_password" type="password" size="24">
		</div>
		<span class="sign-row-error id-error"></span>
	</div>

	<div class="reset-pwd-box buttons-container">
		<button class="button button-reset id-button-reset-password">SET UP PASSWORD</button>
	</div>
</div>