<div class="title">
	RESET PASSWORD
</div>
<div class="description-box big-font">
	If you forgot your password, you can reset it here<br>
	Enter your registered email below to restore password
</div>
<div class="content-container reset-content">
	<div class="sign-row">
		<div class="sign-row-label">
			<label for="email">E-mail:</label>
		</div>
		<div class="sign-row-input">
			<input id="email" type="text" size="24" value="" class="id-email">
		</div>
		<span class="sign-row-error id-error"></span>
	</div>

	<div class="reset-pwd-box buttons-container">
		<button class="button button-reset id-button-reset-password">RESET PASSWORD</button>
	</div>
</div>
