<h1>Share selected test by mail</h1>

<div class="clearfix">
	<input type="email" value="" class="id-add-email" placeholder="new user email">

	<button class="button button-detail id-button-add">Add</button>

	<ul>
		<li class="_proto_ hidden"><i class="id-remove-email icon-remove"></i><span></span></li>
	</ul>
</div>

<div class="email-container">
<label>
	Message body
<textarea class="id-email-text">
Greetings, my friend
I would like to share my Kinetics Test data with you.</textarea>
<div class="link-preview">
	To see shared Test please <a href="<%= 'http://' + window.location.hostname + '/kineticsweb/#shared-test/' + model.get('token') %>" class="id-preview-link">visit this link</a>
</div>
</label>
</div>

<div class="errorContainer"></div>

<button class="button id-button-send-email">Share</button>
