<div class="user-container"></div>
<div class="title">
	<%= model.testContext.get("properties").get("name") %>
</div>
<div class="description-box">
	<%= model.testContext.get("properties").get("description") %>
</div>
<div class="description-separator"></div>
<div class="content-container">
	<div class="info">
		<span class="remained-seconds"></span> second<span class="remained-seconds-plural-ends">s</span> remaining...
	</div>
	<div class="progressbar"></div>
	<div class="timer-seconds">
		<span class="correct-presses"></span> correct press<span class="correct-presses-plural-ends">es</span>
		detected
	</div>
</div>
<div class="buttons-container buttons-1">
	<button class="button id-button-stop button-red">Stop <i class="icon-stop"></i></button>
</div>