<div class="user-container"></div>
<div class="title">
	TEST <%= model.testContext.get("properties").get("name") %> CANCELED
</div>
<div class="description-box">&nbsp;</div>
<div class="description-separator"></div>
<div class="content-container">
	<div class="info">
	</div>
</div>
<div class="buttons-container buttons-3">
    <button class="button id-button-back"><i class="icon-step-backward"></i> Back to previous<br>test</button>
    <button class="button id-button-repeat button-green">Repeat <i class="icon-repeat"></i></button>
	<button class="button id-button-next button-yellow">
		<% if (model.testContext.get("lastTest")) { %>
		Go to the<br>summary <i class="icon-tblock icon-forward"></i>
		<% } else { %>
		Go to the next<br>test <i class="icon-tblock icon-step-forward"></i>
		<% } %>
	</button>

</div>