<audio id="test-sound-correct-beep" class="ui-sound" preload>
	<source src="audio/test-sound-correct-beep.ogg"/>
	<source src="audio/test-sound-correct-beep.mp3"/>
	<source src="audio/test-sound-correct-beep.wav"/>
</audio>
<audio id="test-sound-wrong-beep" class="ui-sound" preload>
	<source src="audio/test-sound-wrong-beep.ogg"/>
	<source src="audio/test-sound-wrong-beep.mp3"/>
	<source src="audio/test-sound-wrong-beep.wav"/>
</audio>
<audio id="test-sound-start" class="ui-sound" preload>
	<source src="audio/test-sound-start.ogg"/>
	<source src="audio/test-sound-start.mp3"/>
	<source src="audio/test-sound-start.wav"/>
</audio>
<audio id="test-sound-finish" class="ui-sound" preload>
	<source src="audio/test-sound-finish.ogg"/>
	<source src="audio/test-sound-finish.mp3"/>
	<source src="audio/test-sound-finish.wav"/>
</audio>
<audio id="test-sound-submit" class="ui-sound" preload>
	<source src="audio/test-sound-submit.ogg"/>
	<source src="audio/test-sound-submit.mp3"/>
	<source src="audio/test-sound-submit.wav"/>
</audio>